.add-new-pg {
    width: 800px;
    /* height:70vh; */
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-heading {
    background: #5c5a5a;
    background: linear-gradient(90deg, rgb(113, 113, 113) 0%, rgb(52, 53, 52) 0%, rgb(49, 49, 48) 100%);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;

}

.back-to-home {
    position: absolute;
    left: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* background-color: rgb(255, 106, 0); */
    /* color: white; */
}

.back-to-home a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.form-heading h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.add-pg-form {
    width: 95%;
    /* background-color: lightblue; */
    height: 100%;
    margin: 20px auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.required {
    color: red;
}

.input input,
.input select {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 2px;
}

.input select {
    text-align: center;
}

.pgname-n-type,
.owner-n-contact,
.rent-n-category {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:0px 10px; */
}

.pg-name,
.owner-name,
.pg-category {
    width: 55%;
}

.pg-type,
.owner-contact,
.pg-rent {
    width: 35%;
}

.city-address-pincode {
    display: flex;
    gap: 10px;
}

.add-pg-button {
    border: none;
    padding: 5px 25px;
    outline: none;
    background-color: rgb(255, 106, 0);
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    margin: 30px auto;
    cursor: pointer;
}

@media only screen and (max-width:800px) {
    .add-new-pg {
        width: 95%;
    }
}

@media only screen and (max-width:650px) {

    .inputs {
        width: 90%;
        margin: auto;
    }

    .pgname-n-type,
    .owner-n-contact,
    .rent-n-category {
        flex-direction: column;
        gap: 10px;
    }


    .pg-name,
    .owner-name,
    .pg-category,
    .pg-type,
    .owner-contact,
    .pg-rent {
        width: 100%;
    }

    .city-address-pincode {
        flex-direction: column;

    }

    .add-pg-button {
        margin-left: 20px;
    }

    .back-to-home{
        left:5px;
    }
}

@media only screen and (max-width:450px) {
    .add-new-pg{
        width: 100%;
        border-radius:0px;
        margin:0px auto;
    }

   .add-new-pg .form-heading{
    border-radius: 0px;
   }
    

}