.auth-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.auth-container {
    width: 600px;
    background-color: rgb(255, 254, 254, 0.75);
    border-radius:0px 0px 5px 5px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.auth-form-heading {
     background: #5c5a5a;
    background: linear-gradient(90deg, rgb(113, 113, 113) 0%, rgb(52, 53, 52) 0%, rgb(49, 49, 48) 100%);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;

}

.auth-form-heading h2{
    color:white;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.auth-form {
    width: 85%;
    margin:30px auto;
}

.auth-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: green; */
    /* margin:20px 0px; */
    position: relative;
}

.auth-input input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.auth-inputs select {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-weight: 100;
    color: grey;
}

.contact-n-usertype {
    display: flex;
    /* gap:20px; */
    justify-content: space-between;
    align-items: center;
}

.submit-button {
    margin: 20px auto 0px;
    padding: 8px 35px;
    border: none;
    background-color: rgb(255, 72, 0);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.required {
    color: red;
}

.message {
    letter-spacing: 1px;
    font-weight: 600;
    color: green;

}

.toggle-password {
    background-color: rgb(255, 106, 0);
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 25px;

}

.forget-password a,
.toggle-form a {
    text-decoration: none;
}

.forget-password{
    margin-top:20px;
}

.toggle-form {
    width: 85%;
    margin:10px auto;
}

.user-contact {
    width: 60%;
}

.user-type {
    width: 30%;
}

@media only screen and (max-width:650px){
    .auth-page{
        align-items:start;
        /* min-height: 100vh; */
    }
    .auth-container{
        width:100%;    
        box-shadow: none;
    }

    .auth-form-heading{
        border-radius: 0px;
        font-size: 14px;
    }

    .auth-form-heading .back-to-home{
        font-size: 13px;
    }

    .auth-form-heading h2{
        font-size: 14px;
    }

    .contact-n-usertype{
        flex-direction: column;
        gap:10px
    }



.user-type, .user-contact{
    width:100%;

}

}

